@import "tailwindcss";

@theme inline {

  --color-primary: #C6C6C6;
  --color-surface-tint: #C6C6C6;
  --color-on-primary: #303030;
  --color-primary-container: #000000;
  --color-on-primary-container: #757575;
  --color-primary: #5185ff;
  --color-on-primary: #002E69;
  --color-primary-container: #4B8EFF;
  --color-on-primary-container: #001435;

  --color-error: #FFB4AB;
  --color-on-error: #690005;
  --color-error-container: #93000A;
  --color-on-error-container: #FFDAD6;
  --color-background: #131313;
  --color-on-background: #E2E2E2;
  --color-surface: #131313;
  --color-on-surface: #E2E2E2;
  --color-surface-variant: #4C4546;
  --color-on-surface-variant: #CFC4C5;
  --color-outline: #988E90;
  --color-outline-variant: #4C4546;
  --color-inverse-surface: #E2E2E2;
  --color-inverse-on-surface: #303030;
  --color-inverse-primary: #5E5E5E;

  --color-surface-dim: #131313;
  --color-surface-bright: #393939;
  --color-surface-container-lowest: #0E0E0E;
  --color-surface-container-low: #1B1B1B;
  --color-surface-container: #1F1F1F;
  --color-surface-container-high: #2A2A2A;
  --color-surface-container-highest: #353535;
}


/* FONTS */
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", system-ui, Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

.section-title {
  font-size: 2.4rem;
  letter-spacing: var(--spacing-text-title);
}

.subtitle {
  font-size: 1.8rem;
  letter-spacing: var(--spacing-text-title);
}

@supports (corner-shape: squircle) {
  .squircle {
    corner-shape: squircle;
    border-radius: 4em;
  }
}

/* *{
  outline: red  solid 1px;
  box-sizing: border-box;
} */